// animation.scss

$customCubicBezier: cubic-bezier(0.12, 0.15, 0.55, 1.71);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.150, 0.860);
.animation {

    animation-duration: 1s;
    animation-fill-mode: both;

}

@keyframes shake {

	20% {transform: translateX(-5px);}
    40% {transform: translateX(5px);}
    60% {transform: translateX(-5px);}
    80% {transform: translateX(5px);}
    100% {transform: translateX(0px);}
 
}

.shake {
	animation-duration: 0.4s;
    animation-name: shake;

}


@keyframes attention {

	0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0;}
 
}

@keyframes attention-reverse {

	0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 1;}
}

.an-attention {
	animation-duration: 0.4s;
    animation-name: attention;
	animation-fill-mode: forwards;
}

.an-attention-reverse {
	animation-duration: 1.2s;
    animation-name: attention-reverse;
	animation-fill-mode: forwards;
}

.an-attention-before:before {
	animation-duration: 0.4s;
    animation-name: attention;
	animation-fill-mode: forwards;
}

.t-reveal-from-top-start {
	opacity: 0;
	transform: translate(0, -10px);
	transition: all 0.5s $easeOutCirc;
}

.t-reveal-from-top-end {
	opacity: 1;
	transform: translate(0, 0);
}


@keyframes fadeIn {

	0% {opacity: 0;}
    100% {opacity: 1;}
 
}

.no-content-view {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .5s; 
	animation-delay: .15s;
	animation-fill-mode: forwards;
}


[data-view="profile"] {
	&>div {
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: .75s; 
		animation-delay: .5s;
		animation-fill-mode: forwards;
	}
	&>div {
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: .75s; 
		animation-fill-mode: forwards;
		&:nth-child(1) {
			animation-delay: .7s;
		}
		&:nth-child(2) {
			animation-delay: .9s;
		}
		&:nth-child(3) {
			animation-delay: 1.1s;
		}
		&:nth-child(4) {
			animation-delay: 1.3s;
		}
		&:nth-child(5) {
			animation-delay: 1.5s;
		}
		&:nth-child(6) {
			animation-delay: 1.7s;
		}
	}
}

[data-view="project-view"] {
	.container>div {
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: .75s; 
		animation-delay: .5s;
		animation-fill-mode: forwards;
	}
	.container>div {
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: .75s; 
		animation-fill-mode: forwards;
		&:nth-child(1) {
			animation-delay: .7s;
		}
		&:nth-child(2) {
			animation-delay: .9s;
		}
		&:nth-child(3) {
			animation-delay: 1.1s;
		}
		&:nth-child(4) {
			animation-delay: 1.3s;
		}
		&:nth-child(5) {
			animation-delay: 1.5s;
		}
		&:nth-child(6) {
			animation-delay: 1.7s;
		}
	}
}

[data-view="update-idea-view"] {
	&>div {
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: .35s; 
		animation-fill-mode: forwards;
		animation-delay: .8s;
		&:nth-child(1) {
			animation-delay: .2s;
		}
		&:nth-child(2) {
			animation-delay: .3s;
		}
		&:nth-child(3) {
			animation-delay: .4s;
		}
		&:nth-child(4) {
			animation-delay: .5s;
		}
		&:nth-child(5) {
			animation-delay: .6s;
		}
		&:nth-child(6) {
			animation-delay: .7s;
		}
	}
}

[data-view="settings-view"] {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .35s; 
	animation-fill-mode: forwards;
	animation-delay: .2s;
}

[data-view="account-profile-view"], [data-view="account-password-tab-view"], [data-view="settings-connections-view"], [data-view="account-notifications-tab-view"] {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .35s; 
	animation-fill-mode: forwards;
	animation-delay: .25s;
}

[data-view="notifications-feed-view"] {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .35s; 
	animation-fill-mode: forwards;
	animation-delay: .25s;
}

[data-view="search-results-view"] {
	&>div:not(.mobile) {
		opacity: 0;
		animation-name: fadeIn;
		animation-duration: .25s; 
		animation-fill-mode: forwards;

		[data-column="ideas"], [data-column="people"] {
			&>div {
				opacity: 0;
				animation-name: fadeIn;
				animation-duration: .2s; 
				animation-fill-mode: forwards;
			}
		}

		[data-column="ideas"] {
			&>div {
				&:nth-child(1) {
					animation-delay: 0s;
				}
				&:nth-child(2) {
					animation-delay: .15s;
				}
				&:nth-child(3) {
					animation-delay: .3s;
				}
				&:nth-child(4) {
					animation-delay: .45s;
				}
				&:nth-child(5) {
					animation-delay: .6s;
				}
			}
		}

		[data-column="people"] {
			&>div {
				&:nth-child(1) {
					animation-delay: 0s;
				}
				&:nth-child(2) {
					animation-delay: .3s;
				}
				&:nth-child(3) {
					animation-delay: .45s;
				}
				&:nth-child(4) {
					animation-delay: .6s;
				}
				&:nth-child(5) {
					animation-delay: .75s;
				}
			}
		}
	}
}

[data-view="simple-view-about"] {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .35s; 
	animation-fill-mode: forwards;
	animation-delay: .2s;
}

[data-view="simple-view-terms"] {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: .35s; 
	animation-fill-mode: forwards;
	animation-delay: .2s;
}


//
// page animations
//
// .tour-modifier {
	
// 	transition: all 0.5s;

// 	.traits-header {
// 		@extend .t-reveal-from-top-start;
// 		transition-delay: 0.25s;
// 	}
// 	.traits-group {
// 		@extend .t-reveal-from-top-start;
// 		transition-delay: 0;
// 		transition: all 0.75s $easeOutCirc;
// 	}

// 	&.view-rendered.after-render {
// 		.traits-header {
// 			@extend .t-reveal-from-top-end;
// 			transition-delay: 0;
// 		}
// 		.traits-group {
// 			@extend .t-reveal-from-top-end;
// 			transition-delay: 0.35s;
// 		}	
// 	}

// 	&.before-destroy {
// 		opacity: 0;
// 	}
// }