<div class="row">

	<span class="logo-container">
		
		<img class="logo" src="./resources/assets/logos/fold.svg" alt="Fold">

	</span>
	
	<div class="column small-12">
		
		<h1 class="heading big">Made By Föld</h1>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam exercitationem commodi, alias autem sapiente.</p>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam exercitationem commodi, alias autem sapiente.</p>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam exercitationem commodi, alias autem sapiente.</p>

	</div>

	<div class="column small-12">
		
		<br class="separator">

	</div>

	<div class="column small-12 medium-4">
		
		<h2 class="heading medium">Features</h2>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam.</p>


	</div>

	<div class="column small-12 medium-4">
		
		<h2 class="heading medium">Dependencies</h2>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam</p>

	</div>

	<div class="column small-12 medium-4">
		
		<h2 class="heading medium">Team</h2>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam</p>

	</div>

	<div class="column small-12">
		
		<br class="separator">

	</div>

	<div class="column small-12 medium-6">
		
		<h2 class="heading medium">Who is using it?</h2>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam exercitationem commodi, alias autem sapiente.</p>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam exercitationem commodi, alias autem sapiente.</p>

	</div>

	<div class="column small-12 medium-6">
		
		<h2 class="heading medium">How it works?</h2>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam exercitationem commodi, alias autem sapiente.</p>

		<p class="paragraph medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid placeat deserunt ab repudiandae rem ipsa magnam eaque, facilis id. Inventore itaque accusamus delectus a numquam exercitationem commodi, alias autem sapiente.</p>

	</div>

</div>