<div class="row">
	
	<div class="column small-12 medium-4">
		
		<ul class="menu">
			
			<li><a href="/home" rel="internal">home</a></li>
			<li><a href="/about" rel="internal">about</a></li>

		</ul>

	</div>

	<div class="column small-12 medium-4">
		
		<ul class="menu">

			<li><a href="/features" rel="internal">features</a></li>
			<li><a href="/dependencies" rel="internal">dependencies</a></li>

		</ul>

	</div>

	<div class="column small-12 medium-4">
		
		<span class="copyright">Fold © Copyright 2016</span>

	</div>

</div>